<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil</h2>
<div class="summary">
    <p><span>Développeur fullstack</span></p>
    <p>
        Je suis développeur fullstack, avec une spécialisation backend (java, nodejs, go).
        J'ai un intérêt grandissant pour le Kotlin, le Go et la programmation réactive. J'aime travailler dans un milieu dynamique, dans une équipe avec bonne ambiance et complicité.
    </p>
</div><!--//summary-->
</section><!--//section-->
