<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil</h2>
<div class="summary">
    <p><span>Développeur fullstack</span></p>
    <p>Je suis diplomé de CPE Lyon, dans la majeure informatique du web et objets communicants.
Je cherche à conserver un profil transverse à la fois poussé dans le monde du java et du web, mais aussi autour des technologies DevOps comme docker et Jenkins. J'aime travailler dans
un milieu dynamique et en équipe.</p>
</div><!--//summary-->
</section><!--//section-->
