<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Certifications</h2>
                <div class="item">
                    <span class="project-title">Oracle Certified Associate</span> - <span class="project-tagline">Java SE 8 Programmer - 85%</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Oracle Certified Professional</span> - <span class="project-tagline">Java SE 8 Programmer - 73%</span>
                </div><!--//item-->
            </section><!--//section-->
