 <div class="education-container container-block">
<h2 class="container-block-title">Formation</h2>
<div class="item">
    <h4 class="degree">Diplôme d'ingénieur en informatique, electronique et télécommunications</h4>
    <h5 class="meta"><a href="http://www.cpe.fr/?lang=fr">CPE Lyon</a></h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Classe préparatoires</h4>
    <h5 class="meta">Classe préparatoires CPE Lyon</h5>
    <div class="time">2010 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
