<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h4 class="panel-title">
                           <div class="item">
                             <div class="meta">
                                 <div class="upper-row">
                                     <h3 class="job-title">Développeur Fullstack</h3>
                                     <div class="time">Mars 2017 - présent</div>
                                 </div><!--//upper-row-->
                                 <div class="company">JCDecaux - Paris, France</div>
                             </div><!--//meta-->
                               <div class="details">
                                   <p><a data-toggle="collapse" data-parent="#accordion" href="#jcdecaux"><font color="#2D7788">
                                     Détails
                                   </font></a></p>
                               </div><!--//details-->
                           </div><!--//item-->

                        </h4>
                     </div>
                     <div id="jcdecaux" class="panel-collapse collapse">
                        <div class="panel-body">
                           {% include jcdecaux-details.html %}
                        </div>
                     </div>
                  </div>
                   <div class="panel panel-default">
                      <div class="panel-heading">
                         <h4 class="panel-title">
                            <div class="item">
                                <div class="meta">
                                    <div class="upper-row">
                                        <h3 class="job-title">Développeur Fullstack</h3>
                                        <div class="time">Avril 2016 - Mars 2017</div>
                                    </div><!--//upper-row-->
                                    <div class="company">Jawg Maps - Paris, France</div>
                                </div><!--//meta-->
                                <div class="details">
                                    <p><a data-toggle="collapse" data-parent="#accordion" href="#jawg"><font color="#2D7788">
                                      Détails
                                    </font></a></p>
                                </div><!--//details-->
                            </div><!--//item-->

                         </h4>
                      </div>
                      <div id="jawg" class="panel-collapse collapse">
                         <div class="panel-body">
                            {% include jawg-details.html %}
                         </div>
                      </div>
                   </div>
                   <div class="panel panel-default">
                      <div class="panel-heading">
                         <h4 class="panel-title">
                            <div class="item">
                              <div class="meta">
                                  <div class="upper-row">
                                      <h3 class="job-title">Stage de fin d'étude</h3>
                                      <div class="time">Février 2016 - Juillet 2016</div>
                                  </div><!--//upper-row-->
                                  <div class="company">eBusiness Information - Paris, France</div>
                              </div><!--//meta-->
                                <div class="details">
                                    <p><a data-toggle="collapse" data-parent="#accordion" href="#ebiz"><font color="#2D7788">
                                      Détails (soon !)
                                    </font></a></p>
                                </div><!--//details-->
                            </div><!--//item-->
                         </h4>
                      </div>
                   </div>
                   <div class="panel panel-default">
                      <div class="panel-heading">
                         <h4 class="panel-title">
                            <div class="item">
                              <div class="meta">
                                  <div class="upper-row">
                                      <h3 class="job-title">Software Engineer</h3>
                                      <div class="time">Aout 2014 - Aout 2015</div>
                                  </div><!--//upper-row-->
                                  <div class="company">jNet Technology - San Jose, California</div>
                              </div><!--//meta-->
                                <div class="details">
                                    <p><a data-toggle="collapse" data-parent="#accordion" href="#jnet"><font color="#2D7788">
                                      Détails
                                    </font></a></p>
                                </div><!--//details-->
                            </div><!--//item-->

                         </h4>
                      </div>
                      <div id="jnet" class="panel-collapse collapse">
                         <div class="panel-body">
                            {% include jnet-details.html %}
                         </div>
                      </div>
                   </div>

</section><!--//section-->
