<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur Backend</h3>
                            <div class="time">Septembre 2018 - présent</div>
                        </div><!--//upper-row-->
                        <div class="company">Ogury - Paris, France</div>
                    </div><!--//meta-->
                    <div class="panel-group">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#jcd">Détails</a>
                          </h4>
                        </div>
                        <div id="jcd" class="panel-collapse collapse">
                          <div class="panel-body">{% include ogury-details.html %}</div>
                        </div>
                      </div>
                    </div>
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur Fullstack</h3>
                            <div class="time">Mars 2017 - Juillet 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">JCDecaux - Paris, France</div>
                    </div><!--//meta-->
                    <div class="panel-group">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#jcd">Détails</a>
                          </h4>
                        </div>
                        <div id="jcd" class="panel-collapse collapse">
                          <div class="panel-body">{% include jcdecaux-details.html %}</div>
                        </div>
                      </div>
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur Backend</h3>
                            <div class="time">Février 2016 - Mars 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Jawg Maps - Paris, France</div>
                    </div><!--//meta-->
                    <div class="panel-group">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#jawg">Détails</a>
                          </h4>
                        </div>
                        <div id="jawg" class="panel-collapse collapse">
                          <div class="panel-body">{% include jawg-details.html %}</div>
                        </div>
                      </div>
                    </div>
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Aout 2014 - Aout 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">jNet Technology - San Jose, California</div>
                    </div><!--//meta-->
                    <div class="panel-group">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#jnet">Détails</a>
                          </h4>
                        </div>
                        <div id="jnet" class="panel-collapse collapse">
                          <div class="panel-body">{% include jnet-details.html %}</div>
                        </div>
                      </div>
                    </div>
                </div><!--//item-->

</section><!--//section-->
