<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur Fullstack</h3>
                            <div class="time">Mars 2017 - présent</div>
                        </div><!--//upper-row-->
                        <div class="company">JCDecaux - Paris, France</div>
                    </div><!--//meta-->
                    <div class="details">
                      <!-- not collapsible for now -->
                      {% include jcdecaux-details.html %}
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur Fullstack</h3>
                            <div class="time">Avril 2016 - Mars 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Jawg Maps - Paris, France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><a href="#jawg" data-toggle="collapse">Détails</a></p>
                        <div id="jawg" class="collapse">
                          {% include jawg-details.html %}
                        </div>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Stagiaire</h3>
                            <div class="time">Février 2016 - Juillet 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">eBusiness Information - Paris, France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><a href="#hook">Détails (coming soon !)</a></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Aout 2014 - Aout 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">jNet Technology - San Jose, California</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p><a href="#jnet" data-toggle="collapse">Détails</a></p>
                      <div id="jnet" class="collapse">
                        {% include jnet-details.html %}
                      </div>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->
