<h4>Projet</h4>
<p>Jnet Technologie est une entreprise spécialisé dans le developpement, la maintenance et le perfectionnement de systèmes d’exploitation pour micro-contrôleurs type carte à puce (smartcard) voués a différentes applications (banque, transport, santé, identité).</p>

<h4>Mission</h4>
<ul>
<li>Dévéloppement de modules de communication supplémentaires sur la carte (tels que SPI, I2C et USB). Ajout d'une fonctionnalité "multi-interface" au systeme d'exploitation de la carte, pour que celui ci puisse supporter toutes les interfaces citées.</li>

<li>Optimisation de la sécurité et du protocol de communication et développement de tests de cryptographie (en majorité RSA et DES) en java.</li>

<li>Developpement d'une bibliothèque java sur une puce permettant de controler une LED, un capteur de toucher, et l'acces a un stockage USB.</li>

</ul>

<h4>Technologies et outils</h4>
<ul>
<li>Langages : C, Javacard, Java</li>
<li>Plateforme : Windows 7</li>
<li>IDE : Visual Studio, Keil 4</li>
</ul>
