<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                  <!-- OS skills -->
                  <div id="os" class="skillset">
                    <div class="item">
                        <h3 class="level-title">OSX</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Linux</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Windows</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="55%">
                            </div>
                        </div>
                    </div>
                  </div>

                  <!-- Languages skills -->
                  <div id="languages" class="skillset">
                  <div class="item">
                      <h3 class="level-title">Java</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="95%">
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <h3 class="level-title">C</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="60%">
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <h3 class="level-title">Javascript</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="35%">
                          </div>
                      </div>
                  </div>
                </div>

                <!-- Databases skills -->
                <div id="databases" class="skillset">
                <div class="item">
                    <h3 class="level-title">Postres</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="75%">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h3 class="level-title">Cassandra</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h3 class="level-title">MySQL</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="75%">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h3 class="level-title">InfluxDB</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>
                    </div>
                </div>
              </div>

              <!-- CI skills -->
              <div id="ci" class="skillset">
              <div class="item">
                  <h3 class="level-title">Docker</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="85%">
                      </div>
                  </div>
              </div>
              <div class="item">
                  <h3 class="level-title">Jenkins</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="70%">
                      </div>
                  </div>
              </div>
            </div>

            <!-- Agile skills -->
            <div id="agile" class="skillset">
            <div class="item">
                <h3 class="level-title">Scrum</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="80%">
                    </div>
                </div>
            </div>
          </div>

          <!-- Tools -->
          <div id="tools" class="skillset">
          <div class="item">
              <h3 class="level-title">Git</h3>
              <div class="level-bar">
                  <div class="level-bar-inner" data-level="90%">
                  </div>
              </div>
          </div>
          <div class="item">
              <h3 class="level-title">Maven</h3>
              <div class="level-bar">
                  <div class="level-bar-inner" data-level="80%">
                  </div>
              </div>
          </div>
        </div>

          <!-- Misc components -->
          <div id="components" class="skillset">
          <p>Spring 4, Springboot 1.5, Docker 1.11, Akka 2.4, Hibernate 5, AngularJS</p>
        </div>

</section><!--//skills-section-->
