<section class="skills-section section">
   <h2 class="section-title"><i class="fa fa-rocket"></i>Compétences</h2>
   <div class="panel-group" id="accordion">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#os"><font color="#2D7788">Systèmes d'exploitation</font></a>
            </h4>
         </div>
         <div id="os" class="panel-collapse collapse">
            <div class="panel-body">
               <!-- OS skills -->
               <div class="skillset">
                 <div class="item">
                    <h3 class="level-title">Linux</h3>
                    <div class="level-bar">
                       <div class="level-bar-inner" data-level="80%">
                       </div>
                    </div>
                 </div>
                  <div class="item">
                     <h3 class="level-title">OSX</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">Windows</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="55%">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#languages"><font color="#2D7788">Langages</font></a>
            </h4>
         </div>
         <div id="languages" class="panel-collapse collapse">
            <div class="panel-body">
               <!-- Languages skills -->
               <div class="skillset">
                  <div class="item">
                     <h3 class="level-title">Java</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="95%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">C</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">Javascript</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="35%">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#databases"><font color="#2D7788">Databases</font></a>
            </h4>
         </div>
         <div id="databases" class="panel-collapse collapse">
            <div class="panel-body">
               <!-- Databases skills -->
               <div class="skillset">
                  <div class="item">
                     <h3 class="level-title">Postres</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="70%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">MySQL</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="70%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">Cassandra</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="40%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">InfluxDB</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="25%">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#ci"><font color="#2D7788">Intégration continue</font></a>
            </h4>
         </div>
         <div id="ci" class="panel-collapse collapse">
            <div class="panel-body">
               <!-- CI skills -->
               <div class="skillset">
                  <div class="item">
                     <h3 class="level-title">Docker</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="85%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">Jenkins</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="70%">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#tools"><font color="#2D7788">Outils de version et de dépendances</font></a>
            </h4>
         </div>
         <div id="tools" class="panel-collapse collapse">
            <div class="panel-body">
               <!-- Tools -->
               <div class="skillset">
                  <div class="item">
                     <h3 class="level-title">Git</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="90%">
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <h3 class="level-title">Maven</h3>
                     <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#components"><font color="#2D7788">Composants</font></a>
            </h4>
         </div>
         <div id="components" class="panel-collapse collapse">
            <div class="panel-body">
               <div class="skillset">
                  <p>Spring 4, Springboot 1.5 (de plus en plus Spring 5 + Springboot 2), Docker, Vertx, Hibernate 5, Angular 4, Firebase, ActiveMQ, ... et d'autres</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
